{% extends "blog/base.html"%}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- form not showing untill vises n dif same -->
    <button type="submit">Upload</button>
  </form>


  <p><a href="{% url 'blog_about' %}">Return to home</a></p>
     

  <div class="card-item" >
 
   
  
    {% for obj in documents %}
     <iframe height="350px" width="350px" src="../media/{{ obj.document }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     {% endfor %}

  </div>




{% endblock content %}
